<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route path="/" action="Index" controller="CategoryController"/>
    <route path="test" action="Test" controller="CategoryController"/>

    <!-- User Management -->
    <route path="register" action="AddUser" controller="UserController"/>
    <route path="login" action="Login" controller="UserController"/>
    <route path="color" action="Color" controller="ColorController"/>

    <!-- Content -->
    <route path="exercice" action="ExerciceList" controller="ContentController"/>
    <route path="ambiance" action="AmbianceList" controller="ContentController"/>
</routes>