/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */


  



/* .sidebar-nav {
  background-color: #A44D4D;
  position: relative;
  min-width : 250px;
  height: 95vh ;
  border-radius: 12px ;
  margin: 10px  ;

} */

/* .side-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: large;

} */



/* .side-navbar-menu {
  margin-top: 17px ;
  font-size: 1.25em;
  
}

span.icon-bar {
  padding: 0 15px;
} */


/* .nav-text {
  color : #F3EDD7;
  list-style: none;
} */



/* .sidebar-bottom{
  width: 100%;
  position: absolute;
  bottom: -9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 12px ;

} */